.header-self_link{ float: left; }
#menu a { height: 51px; }
.selector { margin-top: -14px; }
#season { margin-top: -32px; }
.product-list .right-border { margin-top: -34px; }
.product-actions .emdash { left:-93px; }
#footer { overflow-x: hidden; clear: right;}
#menu2 { overflow-x: hidden; }
#menu2 li,
#catalogue .panel .paginator .page,
.catalogue-panel .sorting .column {
	zoom: 1;
	*display: inline;
}
.large-tooltip-inner .number div { padding-left: 6px; }
#selector_wrapper h1 { height: 50px; }
.selector label { float: left; }