.header-self_link{ float: left; }
#menu a { height: 51px; }
#season { margin-top: -32px; }
.product-list .right-border { margin-top: -34px; }
.product-actions .emdash { left:-93px; }
#footer .notice { width: 49%; }
#footer .dev { width: 24%; }