/*   Table of contents

0. GLOBAL RESET [ +element style reset and minifixes ]
1. BASE LAYOUT  [ LAYOUT. Style of all base elements like body, wrapper, header, content, extras, footer, etc. ]
2. GLOBAL STYLE [ Global styles ]
3. CONTENT      [ All elements fully relative to content and belong to it ]
4. HEADER       [ Header, Logo, Header-Menu, etc ]
5. FOOTER       [ Copyright, developers info etc ]

(c) SublimeYe, 2011
Skype: sublimeye

--------------------------------*/

/*   0. Global reset + holy shit ;)
--------------------------------*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;vertical-align:baseline}
input, button, textarea, select {margin: 0;font-size: 1em}
table {border-collapse: collapse; border-spacing: 0}
blockquote, q {quotes: none}
dfn, i, cite, var, address, em {font-style: normal}
th, b, strong, h1, h2, h3, h4, h5, h6 {font-weight: normal}

/* CLEAR FIX*/
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0} 
.clearfix {display: inline-block} 
html[xmlns] .clearfix {display: block}

a:focus {outline: none;}

/*   1. Base layout
--------------------------------*/
body {
	padding: 0 20px;
}

#wrapper {
	max-width: 1440px;
	margin: 20px auto 0;
}
#header {
	position:relative;
	height: 130px;
	background:url('img/bg-head.png') top right;
	margin-left: 10px;
}
.logo {
	display: inline-block;
	margin-top: 33px;
	text-decoration: none;

}
.header-addon_links, .logo {
	margin-left: 17px;
}
.logo-caption {
	color: #666;
	display: block;
	line-height: 17px;
}
.header-self_link {
	color: #434689;
	text-decoration: none;
	margin-left: 17px;
}
a.header-self_link:hover {
	text-decoration: underline;
	color: #434689;
}
.header-email {
	margin-left: 48px;
	color: #3d3f77;
	text-decoration: underline;
}
a.header-email:hover {
	text-decoration: none;
	color: #3d3f77;
}
.addon_info-links {
	position: absolute;
	left: 45%;
	top: 67px;
}
.addon_info-links a {
	float: left;
	clear: left;
	line-height: 1.5;
}
#cart {
	position:absolute;
	left: 45%;
	margin-left: 70px;
	top: 15px;
}
#cart.full { margin: 0 0 0 10px; width: 230px; }
#cart.full img { float: left; margin-top: -20px; }
#header-left {height: 130px; width: 70px; background:url('img/bg-head.png'); margin: 0 -55px 0 -10px; float:left;}
#header .right {position:absolute; right: 10px; top: 15px; width: 250px; text-align:right}
#header #search {position: absolute; right:-10px; width: 224px; height: 26px; background:white; box-shadow: 2px 2px 2px -2px silver inset; margin: 10px 0 0 0;}
#header #search input { border: none; padding: 6px; width: 152px; background: transparent; }
#search-do { padding-right: 15px;	margin-right: 10px; background:url('img/search.gif') no-repeat scroll right center; }

/*   2. MENU
--------------------------------*/
#menu { display: block; width: 100%;
	}
#menu li {
	list-style-type: none; float: left;
	display: block;
	clear: right;
	line-height: 49px;
	height: 51px;
}
#menu div {
	height: 49px;
	background: #43468a url('img/x-bg-slice.png') 0 0 repeat-x;
	border: 1px solid #44478c;
	border-color: #3b3d72 rgba(3, 13, 59, 0.18) #030d3b rgba(255, 255, 255, 0.12);
	border-color: #3b3d72 #373b7b #030d3b #6669a0;
}
#menu a {
	display: block;
	padding: 20px 0 0;
	margin-top: -20px;
	background: url('img/menu_tires.png') left top no-repeat scroll;
	bottom: -1px;
	position: relative;
}
#menu .active div {
	background: #a93d3d url('img/x-bg-slice.png') 0 -49px repeat-x;
	box-shadow: 2px 2px 4px -2px rgba(0, 0, 0, 0.2) inset;
	border-color: #9d2e2e rgba(3, 13, 59, 0.18) #6e1313 rgba(255, 255, 255, 0.12);
	border-color: #9d2e2e #89373f #6e1313 #b96161;
}
#menu_actions { width: 16%; }
#menu_tire_cat { width: 19.5%; }
#menu_disc_cat { width: 21.5%; }
#menu_from_model { width: 43%; }
#menu_tire_cat a { background-position: 20px -131px; padding-left: 95px; }
#menu_disc_cat a { background-position: 20px -231px; padding-left: 95px; }
#menu_from_model a { background-position: 20px -331px; padding-left: 115px; }

#menu2 {
	clear: both;
	text-align: center;
	background: #fbfbfb;
	border: 1px solid white;
	border-bottom-color: #e4e3e3;
}
#menu2 li {
	list-style-type: none;
	display:inline-block;
	vertical-align: top
}
#menu2 a { display: block; line-height: 45px; }
#menu2 div { padding: 0 7px; }
#menu2 .active {
	background-color: #f7f7f7;
	box-shadow: 0 -30px 15px -15px #fcfcfc inset, 0 2px 2px silver inset;
	position: relative;
	top: 20px;
	margin-top: -20px;
}
#menu2 .active a { border-bottom: 3px solid #a53737; }

/*   2. GLOBAL STYLE
--------------------------------*/

body { background:url('img/bg.gif') repeat top center; min-width: 1160px; }
#body { background-color:#f7f7f7; border:1px solid white; border-width: 0 1px}
.columns { margin-right: 579px; }
.columns .right { float: right; width: 579px; margin-right: -579px; position: relative; }
.columns .left { float: left; width: 100%; }

/*   3. CONTENT
--------------------------------*/
.tabs { margin-top: 15px; }
.tabs .title { float: left; margin: 2px 0 0 24px; }
.tabs .tab a { border-bottom: 1px dashed; display: block; margin: 0 8px 8px; border-color: #424586; }
.tabs .tab { float: left; margin-left: 8px; }
.tabs .active a {
	border-color: #a83b3b; background: white; margin: -1px 7px 8px
}
.tabs .active {
	background: white;
	border: 1px solid #e5e5e5;
	border-width: 1px 0 0 1px;
	margin-bottom: -1px;
}
.tabs .active div {
	border: 1px solid #f6f6f6;
	border-width: 1px 0 0 1px;
}
.interactive-blocks {
	overflow: hidden;
	background: #F7F7F7;
}
#selector_wrapper {
	float: left;
	width: 580px;
	height: 243px;
}

/* Main page : content layout
--------------------------------*/
.main {
	overflow: hidden;
	background: #f7f7f7;
}
.main_content-layout {
	float: left;
	clear: both;
	margin-left: 560px;
	background: #F7F7F7;
}
.main_fixed-column {
	margin-left: 190px;
	overflow: visible;
}
.main_fixed-column .catalogue-blocks {
	width: 100%;
	float: right;
}
.main_fixed-column .sidebar {
    margin-left: -190px;
    position: relative;
}

.selector { background:white; border: 1px solid #e5e5e5; border-width: 1px 0 0 1px; clear: both; width: 100%; }
#tire_selector { height: 207px; }
#tire_width, #tire_height, #tire_radius { width: 60px; }
.selector select { float: right; margin-right: 20px; }
#tire_selector select,
#disc_selector select { margin-bottom: -4px; }
#brand_selector select { margin-top: 8px; }
#tire_creator { margin: 10px 0 -10px; }
.selector table { margin-top: 20px; width: 100%; }
.selector td { padding: 0 5px; line-height: 40px; }
.icon_help { display: inline-block; width: 12px; height: 12px; background: url('img/question.gif') center; }
.selector .double_slider { position: relative; width: 243px; height: 1px; background: #8b8b8b; }
.selector .double_slider .label { position: absolute; width: 48px; margin-left: -24px; top: -20px; line-height: 16px; }
.selector .double_slider .tick { position: absolute; left: 0; width: 1px; height: 9px; background: #8b8b8b; margin-left: 24px;  }
.selector .double_slider .knob { position: absolute; width: 8px; height: 14px; background: url('img/knob.png'); cursor: pointer; cursor: hand; }
.selector .double_slider .knob-left { background-position: 0 0; }
.selector .double_slider .knob-right { background-position: -8px 0; }
.selector .double_slider .bar {
	position: absolute; top: -2px; height: 5px;
	background-color: #4f539d;
	background: linear-gradient(top, #565aac 0%,#3e417b 100%);
}
.selector .go{ padding-left: 40px; background: url('img/goods_large_icon.png') left -11px no-repeat scroll; }
#tire_selector .go{ position: relative; top: 20px; }

#tire_selector .go { background-position: 0 -11px; }
#disc_selector .go { background-position: 0 -51px; }
#brand_selector .go { background-position: 0 -80px; padding: 10px 0 0 60px; float: right; margin: 0 20px 50px 0; }

 input.price { width: 3.5em; border: 1px solid #bababa; border-radius: 2px; }

.season { width: 31px; height: 31px; background-image: url('img/seasons.png'); display: block; }
.season_summer { background-position: 0 0; }
.season_winter { background-position: -31px 0; }
.season_spikes { background-position: -62px 0; width: 46px; }
.season_all { background-position: -108px 0; }
.season_spikes_only { background-position: -141px 0; }
#season { float: right; }
#season .season { float: left; margin-left: 9px; border-radius: 2px; }
#season .season.active { border: 1px solid #982828; margin: -2px -1px -2px 8px; border-width: 2px 1px; }
#season .season:hover { border: 1px solid #e3e3e3; margin: -1px -1px -1px 8px; }

#accordion {
	width: 579px;
	height: 259px;
	border-top: 1px solid white;
	border-left: 1px solid white;
	overflow: hidden;
	float: right
}
#accordion .panel, #accordion .view { height: 259px; float: left; position: relative; }
#accordion .panel { width: 37px; border-right: 1px solid white; }
#accordion .view { width: 350px; background: url('img/accordion-bg.jpg'); overflow: hidden; }
#accordion .view .text h1 { font-size: 36px; }
#accordion .view .text p { font-size: 12px; }

#accordion .panel .text { width: 37px; height: 240px; }
#accordion .active .text { background-position: -37px 0; }
#accordion .panel .text1 { background-image: url(img/text1.png); }
#accordion .panel .text2 { background-image: url(img/text2.png); }
#accordion .panel .text3 { background-image: url(img/text3.png); }
#accordion .panel .text4 { background-image: url(img/text4.png); }
#accordion .panel .text5 { background-image: url(img/text5.png); }
#accordion .panel .text6 { background-image: url(img/text6.png); }

#accordion .panel .label { width: 37px; height: 20px; background: url(img/labels.png); }
#accordion .panel .label_new { background-position: 0 0; }
#accordion .panel .label_sale { background-position: -37px 0; }
#accordion .panel .label_hit { background-position: -74px 0; }

#accordion .view .text {
	color:#3f3f3f;
	position: absolute; bottom: 0; left: 0;
	width: 340px; // width: 350px;
	padding: 8px;
	background: rgba(255, 255, 255, 0.7);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2ffffff', endColorstr='#b2ffffff',GradientType=0); 
}

#all_news { float: right; padding-right: 5px; margin-top: -18px; }

#news {
/* -1px for left-border */
	width: 559px;
	margin-left: -559px;
	float: left;
	background: #F7F7F7;
}
#news .text {
	overflow: hidden;
}

#news h2 { margin-top: 30px; padding: 0 20px; }
#news .piece_of_news { padding: 0 20px; }
#news .piece_of_news .date {
	margin: 10px 0 0 -18px
}

#news .banners {
	float: left;
	width: 187px;
	margin-right: 16px;
	overflow: hidden;
	/*margin-left: -187px; */
	position: relative;
}
#news .banners img {
	float: left;
	clear: left;
}

.main_content-layout .article {
	float: right;
	margin-left: 30px;
}
.article h1 { margin: 25px 0 5px 0; }
p { margin: 0 0 8px 0; padding: 0 1em; }

/*   4. HEADER
--------------------------------*/

/*   5. FOOTER
--------------------------------*/
#footer-navigation {
	clear: both;
	height: 130px;
}
#footer-navigation { background: url('img/bg-footer.png') right top; }
#footer-navigation li { list-style-type: none; }
#footer-navigation .office-info { float: left; width: 42%; background: url('img/x-bg-slice.png') 87% -183px no-repeat; }
#footer-navigation .office-info .column { float: left; margin-left: 5%; width: 38%; padding-top: 15px; }
#footer-navigation .office-info h5 { color: #696969; font-size: 11px; }
#footer-navigation a.contacts_link { margin-left: 10px; line-height: 26px; }
#footer-navigation .office-info dl { margin-left: 10px; }
#footer-navigation .office-info dt { float: left; width: 29%; }
#footer-navigation .office-info dd { float: left; width: 70%; }

#footer-navigation .office-info .notification { margin: 10px 5% 0; }
#footer-navigation .addon-services_nav { float: left; width: 27%; background: url('img/x-bg-slice.png') 80% -183px no-repeat;  }
#footer-navigation .addon-basic_nav { float: left; width: 31%; clear: right}
#footer-navigation .s_nav-catalogs { margin-top: 13px; }
#footer-navigation .s_nav-services { margin-top: 10px; }
#footer-navigation .s_nav-services li { float: left; width: 40%; }
#footer-navigation .b_nav { margin-top: 13px;  }
#footer-navigation .b_nav li { float: left; width: 40%;  }

#footer {overflow: hidden; line-height: 36px; margin-left: -13px; }
#footer .copyright { float: left; width: 25%; text-align: left; }
#footer .notice { float: left; width: 50%; text-align: center; }
#footer .dev { float: left; width: 25%; text-align: right; }

/* Additional blocks
--------------------------------*/
.three-columns-grid {
	width: 100%;
	margin: 25px 0 10px;
}
.three-columns-grid td {
	padding: 0 15px;
}

.ico-tick {
	margin-left: 1.6em;
	position: relative;
}
.ico-tick i {
	display: inline-block;
	width: 12px;
	height: 12px;
	background: url('img/check.png');
	vertical-align: middle;
	position: absolute;
	left: -20px;
	top: 2px;
}

/* product list
--------------------------------*/
.product-list {
	position: relative;
	clear: both;
	overflow: hidden;
	list-style: none;
	background: white url('img/catalogue-bg.jpg') no-repeat left top;
	padding: 17px 4px 60px;
}

.product-list_inner {
	clear: right;
	overflow: visible;
	background: none;
}

.product-list:after {
	content: '';
	position: absolute;
	width: 4px;
	height: 276px;
	right: 0;
	top: 0;
	background: white url('img/catalogue-bg.jpg') no-repeat right top;
}

/*
.product-list .right-border {
	float: right;
	width: 4px;
	height: 276px;
	background: white url('img/catalogue-bg.jpg') no-repeat right top;
	margin: -17px -4px 0 4px;
}
*/

.product-list .p-item {
	width: 200px;
	height: 347px;
	border: 1px solid #e1e1e1;
	margin: 14px;	
	float: left;
}

.p-item .brand { width: 200px; height: 38px; line-height: 34px; text-align: center; overflow: hidden; }
.p-item .brand img { max-width: 200px; max-height: 38px; display: inline-block; margin: 0 auto; vertical-align: middle; }

.product-heading {
	background: #777 url('img/x-bg-slice.png') 0 -149px repeat-x;
	height: 34px;
}
.product-details { height: 186px; position: relative; }
.product-details .fig { width: 140px; height: 138px; line-height: 138px; text-align: center; }
.product-details .fig img { max-width: 140px; max-height: 138px; display: inline-block; margin: 0 auto; vertical-align: middle; }
.product-specifics { position: absolute; }
.product-details .product-specifics { left: 140px; top: 0; }
.catalogue-blocks .product-specifics { right: 45px; top: 0; }
.product-specifics li { list-style-type: none; position: absolute; }
.product-specifics .car-type { left: 3px; top: 9px; }
	.vehicle_icon { display: block; width: 33px; height: 18px; background: url('img/vehicle_icons.png') no-repeat; }
	.vehicle_icon_auto { background-position: 0 0; }
	.vehicle_icon_truck { background-position: 0 -18px; }
	.vehicle_icon_moto { background-position: 0 -36px; }
	
.product-specifics .weather-type { left: 4px; top: 39px; }
.product-specifics .addon-type { left: 4px; top: 76px; }

.product-details .properties { position: relative; left: 15px; }
.product-details .properties div { float:left; width: 50%; }
.product-details .properties .info-flyer {
	display: block;
	position: absolute; left: 70px; top: 5px;
	width: 56px; height: 12px;
	background: url('img/question.gif') center;
}

.product-actions {
	width: 200px;
	height: 51px;
	background: #777 url('img/x-bg-slice.png') 0 -98px repeat-x;
}

.product-actions .amount-selector {
	position: relative;
	padding-left: 30px;
	margin-left: 10px;
	float: left;
	height: 51px;
	background: url('img/price-plus_minus.gif') no-repeat;
}
.product-actions .amount-selector .inc-amount, 
.product-actions .amount-selector .dec-amount,
.product-actions .amount-selector .amount-number {
	left: 0;
	display: block;
	position: absolute;
	width: 28px;
}
.product-actions .amount-selector .inc-amount { top: 0; height: 16px; }
.product-actions .amount-selector .amount-number { top: 15px; height: 17px; margin: 1px; border: none; width: 24px; background: #d3d3d3; }
.product-actions .amount-selector .dec-amount { top: 35px; height: 16px; }
.product-actions .price { float: right; position: relative; }
.product-actions .price .value {  margin-top: -51px; }
.product-actions .emdash { position: relative; left:-77px; margin-left:50%; }
.p-item .availability { clear: left; float: left; margin-left: 10px; position: relative; }
.p-item .btn-buy { float: right; margin: 0 12px; }

.selector_expanded {
	position: absolute;
	background-color: #f1f1f1;
	background: linear-gradient(top, #f7f7f7, #ececec);
	border: 1px solid white;
	border-width: 1px 0;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
	filter:
		progid:DXImageTransform.Microsoft.DropShadow( color='#20000000', offX=3, offY=-2),
		progid:DXImageTransform.Microsoft.DropShadow( color='#20000000', offX=2, offY=3),
		progid:DXImageTransform.Microsoft.DropShadow( color='#20000000', offX=-3, offY=2),
		progid:DXImageTransform.Microsoft.DropShadow( color='#20000000', offX=-2, offY=-3);
}
.selector_expanded .option {
	height: 21px;
	line-height: 21px;
	margin: 7px 5px;
	padding: 0 7px;
	cursor: pointer; cursor: hand;
}
.selector_narrow .option {
	width: 45px;
}
.selector_expanded .angle {
	position: absolute;
	left: -5px;
	top: 10px;
	width: 10px;
	height: 10px;
	transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	background-color: #f1f1f1;
	box-shadow: 1px 0 5px rgba(0, 0, 0, 0.75);
}
.selector_expanded .angle-inner {
	position: absolute;
	left: 0;
	top: 5px;
	width: 10px;
	height: 20px;
	background-color: #f1f1f1;
}
.selector_expanded .active { background: white; }
.selector_expanded table { margin: 0; width: auto; }
.selector_expanded td { padding: 0; }

.pseudo-select {
	height: 23px;
	line-height: 23px;
	border: 1px solid #bbb;
	border-radius: 2px;
	background: white url('img/select-arrow.png') right top no-repeat;
	padding: 0 25px 0 6px;
	cursor: pointer; cursor: hand;
	display: inline-block;
}
.pseudo-select { color: #982828; font-size: 16px; text-align: center; }

/* catalog1_page
--------------------------------*/
.sidebar {
	width: 186px;
	float: left;
	background: #fff;
	border-left: 1px solid #f9f9f9;
	margin: 0 2px 0 1px;
}
.sidebar h3 {
	font-size: 14px;
	color: #333;
	margin: 20px;
}

.sidebar li {
	background: url('img/y-bg.png') left top no-repeat;
	padding-left: 20px;
	list-style-type: none;
}
.sidebar li:first-child {
	background: none;
}
.sidebar .catalog-list {
	padding-bottom: 40px;
}

.sidebar li {
	font-size: 12px;
	line-height: 20px;
}
.sidebar a {
	text-decoration: none;
	color: #3f417d;
}
.sidebar a.current {
	color: #a83b3b;
}

.results_bottom {
	clear: both;
}

.inner-content {
	overflow: hidden;
}
.inner-content.ambient {
	overflow: visible;
}

.product_selector-wrapper {
	width: 582px;
	height: 200px;
	background: #fff;
	float: left;
}

.product_featured-wrapper {
	background: #efefaa;
}

.products_selection-outer {
	overflow: hidden;
}

.results {
	overflow: hidden;
	position: relative;
	background: #fff;
}

.results .pagination {
	float: left;
	width: 35%;
}

.results .show-products-btn {
	float: left;
	text-align: center;
	width: 25%;
}

.results .sorting {
	float: left;
	width: 35%;
	text-align: right;
}

.results_bottom {
	padding-left: 186px;
}

.results .top-link {
	margin-left: -90px;
	float: left;
}

h2 .items-amount {
	float: right;
}
/* catalogue */
#selector_wrapper h1 { color: #666; padding: 10px 0 5px 25px; }

.advice-disc .goods-wrapper { padding-left: 580px; }
.advice-disc .goods { width: 366px; height: 58px; margin: 12px 0; position: relative; left: -25px; background: url('img/advised-goods.png'); }
.advice-disc .goods img { width: 50px; height: 50px; margin: 5px; }
.advice-disc .goods a { display: block; width: 20px; height: 60px; background: url('img/arrows.png') no-repeat; }
.advice-disc .goods .left { background-position: -48px 13px; float: left; }
.advice-disc .goods .right { background-position: -67px 13px; float: right; }
.advice-disc .goods .left-active { background-position: -84px 13px; }
.advice-disc .goods .right-active { background-position: -105px 13px; }

.advice-disc .extra { margin: 50px 0 0; }
.advice-disc .extra li { list-style-type:none; }

.catalogue-blocks { overflow: visible; }
.catalogue-blocks .matching { padding: 25px 0 20px; }

.catalogue-title h1 { color: #222; text-align: center; margin-top: 30px; }
.catalogue-blocks .total-amount { color: #6f6e6e; font-size: 12px; float: right; margin: 12px 12px 0 0; }

.catalogue-panel {
    overflow: hidden;
    position: relative;
	text-align: center;
	background: url('img/x-bg-slice.png') left -360px repeat-x;
	padding: 10px;
}
.catalogue-panel .paginator { float: left; width: 35%; text-align: left; }
.catalogue-panel .show-all { float: left; width: 25%; }
.catalogue-panel .sorting { float: left; width: 35%; text-align: right; margin-top: -10px; }

.catalogue-panel .paginator {
	color: #494d9b;
	font-size: 14px;
}
.catalogue-panel .paginator .page {
	text-align: center;
	width: 23px;
	height: 22px;
	border: 1px solid #d7d7d8;
	border-radius: 2px;
	line-height: 22px;
	display: inline-block;
	color: #494d9b;
	text-decoration: none;
}
.catalogue-panel .paginator .active {
	color: white;
	border: #852e2e;
	background: #b24747 url('img/x-bg-slice.png') 0 -311px repeat-x;
}
.catalogue-panel .show-all button {
	color: white;
	line-height: 22px;
	border: 1px solid #3c3e76;
	border-radius: 2px;
	background: #44478d url('img/x-bg-slice.png') 0 -333px repeat-x;
}
.catalogue-panel_bottom {
	padding-left: 196px; /* sidebar(186) + self padding(10) */
	clear: both;
}
.catalogue-panel_bottom .top-link {
	float: left;
    margin-left: -10%;
}

.catalogue-panel .sorting { font-size: 12px; color: #464a93; }
.catalogue-panel .sorting .title { color: #484848; line-height: 43px; }
.catalogue-panel .sorting .active { color: #bd5555 }
.catalogue-panel .sorting .column { display: inline-block; margin-left: 2em; }
.catalogue-panel .sorting a { display: inline-block; width: 23px; height: 13px; margin: 0 auto; position: relative; background-image:url('img/arrows.png'); }
.catalogue-panel .sorting .up { background-position: -1px -1px; top: -6px; }
.catalogue-panel .sorting .up-active { background-position: -25px -1px; }
.catalogue-panel .sorting .down { background-position: -1px -17px; top: 6px; }
.catalogue-panel .sorting .down-active { background-position: -25px -17px; }

.where-list {
	position: absolute;
    bottom: 34px;
    left: -16px;
	width: 182px; // 212px;
	padding: 10px 15px 0;
	background: url('img/where-list.png') center top;
}
.where-list .place { float: left; width: 130px; }
.where-list span { float: left; }
.where-list .amount { float: right; }
.where-list .buy { float: right; width: 50px; }
.where-list .bottom {
	height: 20px;
	background: url('img/where-list.png') center bottom;
	clear: both;
	margin: 0 -10px -9px;
}

.catalogue-bottom { height: 35px; border-top: 1px solid white; background: #fdfdfd; margin-top: -8px; }


/* tovar */

.catalogue-blocks .good-large { float:left; text-align: center; }
.catalogue-blocks .good-large .header { height: 46px; }
.catalogue-blocks .good-large .header img { vertical-align: middle; }
.catalogue-blocks .good-large .photo { position:relative; }
.catalogue-blocks .good-description { overflow: hidden; }
.catalogue-blocks .good-description h1 { background: url('img/x-bg-slice.png') 0 -149px repeat-x; line-height: 34px; height: 34px; margin-bottom: 30px; }

.tovar-list { width: 100%; margin-top: 15px; }
.tovar-list .properties { background: url('img/x-bg-slice.png') 0 -414px repeat-x; }
.tovar-list .header { background: none; }
.tovar-list td { vertical-align: middle; height: 68px; }
.tovar-list .header td { height: 30px; }
.tovar-list .product-actions { margin: 0 auto; }
.tovar-list .product-actions .emdash { left: -70px; margin-left: 0; }

.large-tooltip { position: relative; left: -100px; top: -3px; }
.large-tooltip-inner,
.large-tooltip-inner .left,
.large-tooltip-inner .right,
.large-tooltip-inner .bottom,
.large-tooltip-inner .corner { position: absolute; background: url('img/tooltip-large.png'); }
.large-tooltip-inner { position: absolute; background-position: center -5px; padding-top: 20px; margin-left: -10%; }
.large-tooltip-inner .left { width: 10px; left: -10px; top: -20px; bottom:0; background-position: -20px 15px; }
.large-tooltip-inner .right { width: 10px; right: -10px; top: -20px; bottom:0; background-position: 30px 15px; }
.large-tooltip-inner .bottom { width: 100%; height: 20px; bottom: -20px; left: -10px; background-position: -20px 40px; }
.large-tooltip-inner .corner { width: 20px; height: 20px; right: -20px; background-position: 40px 40px; }

.large-tooltip-inner td { padding: 3px 10px; height: auto; }
.large-tooltip-inner .address {
	padding-right: 0;
}
.large-tooltip-inner .address div {
	overflow: hidden;
	padding-right: 8px;
}
.large-tooltip-inner .dots {
	display: inline-block;
	width: 100%;
	background: url('img/dots.png') bottom repeat-x;
	height: 10px;
}
.large-tooltip-inner .number {
	padding-left: 0;
}
.large-tooltip-inner .number div {
	padding-left: 5px;
	direction: rtl;
    overflow: hidden;
}
.large-tooltip-inner .number .dots { margin-right: 1px; }

/* catalog2 */
.advice-list { width: 100%; background-color: #f7f7f7; margin: 25px 0 50px; clear: both; }
.advice-list .disc-details .icon_help { margin: 0 12px -2px 0; }
.advice-list .section { background-color: #fafafa; }
.advice-list .spacer { height: 60px; }
.advice-list .middle { background: url('img/y-bg.png') -184px 0 repeat-y; width: 7px; }
.advice-list .middle div { position: relative; }
.advice-list .middle .icon_help { position: absolute; left: -4px; top: -13px; border: 2px solid #f7f7f7; }

.selecting_extra-info { float: right: width: 100%; }
.selecting_extra-info h3 { padding: 20px 0; }
.selecting_extra-info ul { padding-left: 2em; }
.selecting_extra-info li { list-style-image: url("img/diamonds.png"); }