/*   Typography & Colors
*    (c) SublimeYe, 2011
*    Skype: sublimeye
--------------------------------*/
body {font: 14px/1.4 Tahoma, Geneva, sans-serif}

h1,h2,h3,h4,h5,h6 {font-weight: normal}

h1 {font-size: 24px}
h2 {font-size: 2em}
h3 {font-size: 1.8em}
h4 {font-size: 1.6em}
h5 {font-size: 1.4em}
h6 {font-size: 1.2em}

/*   Links
--------------------------------*/
a {
	color: #06C;
	text-decoration:underline;
}
a:visited {}
a:hover {
	text-decoration:none;
}
a:active {}
	
#header {
	font-size:11px;
}

#cart {
	font-size:11px;
	text-shadow: 1px 1px 0 white;
}
#cart.empty, #header .right {
	color: #999;
	text-shadow: 0 1px 1px white;
}
#cart.full {
	color: #932222;
	text-align: right;
}
#cart.full b { font-weight: bold; }
#cart.full a { color: #3f417d; }
#cart.full a:after{ content:" →"; position: absolute; }
.addon_info-links a {
	color: #6b6b76;
	font-size: 11px;
	text-decoration: underline;
}
.addon_info-links a:hover {
	text-decoration: none;
}
#header #phone { font-size: 34px; color: #333; }
#header #phone .code { font-size: 20px; }
#search-do { color: #6265ae; }
#menu {  text-align: right}
#menu a {font-size: 16px; color: white; text-shadow: 0 1px 0px black; text-decoration:none; text-align: center; }

#menu2 a { color: black; font-size: 14px; text-decoration:none; }
#menu2 .active a { color: #932222; }
#menu2 div:hover a { color: #44478b; }
#menu2 .active:hover a { color: #932222; }

.tabs .title { color: #666; }
.tabs { font-size: 24px; line-height: 120%; }
.tabs .tab a { color: #424586; }
.tabs .active a { color: #a83b3b; }
.tabs .tab a { text-decoration:none; }

.selector { color: #333; font-size: 14px; }
.selector .price { color: #982828; font-size: 16px; text-align: right; }
.selector .double_slider .label { color:#a4a4a4; font-size: 10px; text-align: center; }
.selector .go{ color:#982828; font-size: 24px; line-height: 36px; }

#accordion .panel .text { font-size: 12px; color: #666; line-height: 37px; text-shadow: 1px 1px 1px white; }
#accordion .active .text { color: #932222; }
#accordion .label { font-size: 11px; color: white; text-align: center; }

#news h2 { color: #949494; font-size: 18px; }
#all_news { color: #aeafcd; font-size:11px; }
#news .piece_of_news {font-size:12px}
#news .piece_of_news a {color: #585858; text-decoration: none;}
#news .piece_of_news a:hover {text-decoration: underline;}
#news .important { margin-bottom: 22px }
#news .important a {color: #a53838;}
#news .piece_of_news .date { color: #3d3f76; }

.article h1 { color: black; text-align: center; }
.article p {
	line-height: 1.2; font-size: 12px; text-indent: 1.5em; text-align: justify; }
.article p:first-letter { color: #932222; }

.product-details .properties div { text-align: center; }
.product-details .properties .index span,
.product-details .properties .size span { font-size: 12px; color: gray;}
.product-details .properties .size big { font-size: 18px; color: #333;}
.product-details .properties .size big b { color: #933;}
.product-details .properties .index big { color: #3e407a;}

.product-actions .amount-selector span,
.product-actions .price,
.product-actions .emdash { line-height: 51px; }
.product-actions .amount-selector span {color: #222; font-size: 14px; text-shadow: 0 1px 0 #aaa; }
.product-heading { color: white; font-size: 16px; text-shadow: 0 1px 0 #1b1d4c; line-height:34px; text-align: center; }
.product-actions .price { color: #222; font-size: 14px; text-shadow: 0 1px 0 #aaa; }
.product-actions .price big { color: white; font-size: 20px; text-shadow: 0 1px 0 #4b4a4a; }

.product-actions .amount-selector .amount-number { font-size: 16px; text-align: right; text-shadow: 0 1px 0 white; }

.p-item .btn-buy { font-size: 24px; color: #982828; box-shadow: 0 30px 15px -15px rgba(247, 247, 247, 0.25) inset; }
.p-item .btn-buy:after {
	content: "Купить";
	color: transparent;
	display: block;
	position: absolute;
	margin-top: -32px;
	z-index: 100;
	box-shadow: 0 20px 3px rgba(247, 247, 247, 0.3) inset;
}
.p-item .availability { font-size: 12px; }
.p-item .availability-present .present { color: #135a0c; }
.p-item .availability-no .amount { color: #693838; }

#footer-navigation { font-size: 11px; }
#footer-navigation b { font-weight: bold; }
#footer-navigation .notification,
#footer-navigation .notification a { color: #ab7979; }
#footer-navigation .column_contacts,
#footer-navigation .column_contacts a { color: #595dbb; }
#footer-navigation .office-info a.contacts_link { color: #29a52f; }

#footer-navigation .column_time dl { color: #45488f; }

#footer-navigation .s_nav-catalogs a { color: #932424; line-height: 20px; }
#footer-navigation .s_nav-services a { color: #3c409e; line-height: 20px;  }
#footer-navigation .b_nav a { color: #616161; line-height: 20px;  }

#footer-navigation .ico-sales { list-style-image: url(img/percent.png); }
#footer-navigation .ico-offers { list-style-image: url(img/actions.png); }

#footer .copyright { font-size: 11px; color: #333; }
#footer .notice { font-size: 10px; color: #bbb; }
#footer .dev { font-size: 11px; color: #999; }
#footer .dev a { color: #777; }

/* Additional blocks
--------------------------------*/
.ico-tick {
	color: #a52929;
	font-size: 11px;
}
#search input:focus {
	outline: 0
}

.selector_expanded { font-size: 16px; color: #3e4079; }
.selector_expanded .active { color: #a22222;  }
label.active { color: #942323; }

/* catalogue */
.advice-disc { font-size: 12px; color: #666; }
.advice-disc h3.matching { font-size: 14px; text-align: center; }
.advice-disc a { color: #3c3e76; }
.advice-disc .extra li { line-height: 25px; }

.where-list .small { color: #952424; }
.where-list { font-size: 11px; line-height: 22px; color: black; }
.where-list a { color: #ae2323; }
.where-list .buy { text-align: right; }

.catalogue-panel_bottom .top-link a {
	font-size: 12px;
    color: #777;
}